/* Color vars
black: 121212ff
orange: fe5000ff
white: fefefeff
sandwhite: f5f5f5ff
*/

.preview {
  border: 2px solid black;
  grid-column: 2;
  grid-row: 1 / 4;

    .preview_pdf {
        margin: auto;
        font-family: 'Merienda', cursive;
        background-color: #f5f5f5ff;
        border: 2px solid black;
        padding: 1.5em;
        height: 1122px;
        width: 793px;

        .header {
            display: inline-block;
            position: relative;
            padding: 2em;
            
            .header_text {
              position: absolute;
              left: 15vw;
              bottom: 3.5vw;
              padding: 0.5em;
              font-size: 2.5vw;
              background-color: #fefefeff;
              border: 2px solid #121212ff;
            }

            .header_image {
              display: block;
              border: 2px solid #121212ff;
              border-radius: 1.5em;
              z-index: -1;
              width: 60%;
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            background-color: #fefefeff;
            border: 2px solid #121212ff;
            padding: 1.2em;
          }

          h4 {
            margin-bottom: 1em;
          }

          .ingredients {
            flex: 1;

            ul {
              font-size: 1.1em;
              font-family: 'Montserrat', sans-serif;
              padding-left: 0;
              list-style-type: none;
              li {
                margin-bottom: 3px;
              }
            }
          }

          .instructions {
            flex: 1;

            ul {
              font-size: 1.1em;
              font-family: 'Montserrat', sans-serif;
              padding-left: 0;
              list-style-type: none;
              text-align: left;
              li {
                margin-bottom: 3px;
              }
            }
          }

    }
}