.preview {
    border: 2px solid black;
    padding: 0.5em;
    grid-column: 2;
    grid-row: 1 / 4;
    iframe {
        margin: 0 auto;
        width: 100% !important;
        height: 90% !important;
    }
}