@import '../variables';

.preview {
  border: 2px solid $black;
  box-shadow: 8px 8px 0px 0px $orange;
  padding-bottom: 1em;
  margin: 1.5em;

  h2 { 
    background-color: $black;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    padding: 0.2em;
  }

  button {
    border: 2px solid $orange;
    color: $white;
    background-color: $orange;
    margin: 0.4em;

    span {
      vertical-align: middle;
      font-size: 1.2em;
    }

    i {
      vertical-align: middle;
      font-size: 1.4em;
    }
  
  }

  button:hover {
    border: 2px solid $orange;
    background-color: $white;
    color: $orange;
  }

    .preview_pdf {
        margin: auto;
        font-family: 'Merienda', cursive;
        background-color: $sandwhite;
        border: 6px double $black;
        padding: 1.5em;
        height: 1122px;
        width: 793px;

        .header {
            display: inline-block;
            position: relative;
            padding: 2em;
            
            .header_text {
              position: absolute;
              left: 15vw;
              bottom: 3.5vw;
              padding: 0.5em;
              font-size: 2.2vw;
              background-color: $white;
              border-radius: 0.3em;
            }

            .header_image {
              display: block;
              border-radius: 1.5em;
              z-index: -1;
              width: 60%;
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            background-color: $white;
            border-radius: 1.5em;
            padding: 1.2em;
            border-top: 5px solid $black;
            border-bottom: 5px solid $black;
          }

          h4 {
            margin-bottom: 1em;
          }

          .ingredients {
            flex: 1;

            ul {
              font-size: 1.1em;
              font-family: 'Montserrat', sans-serif;
              padding-left: 0;
              list-style-type: none;
              li {
                margin-bottom: 3px;
              }
            }
          }

          .instructions {
            flex: 1;

            ul {
              font-size: 1.1em;
              font-family: 'Montserrat', sans-serif;
              padding-left: 0;
              list-style-type: none;
              text-align: left;
              li {
                margin-bottom: 3px;
              }
            }
          }

    }
}