@import '../variables';

.navigation {
    nav {
        background-color: $black;

        span {
            color: $white;
            font-size: x-large;
        }

        .nav_link {
            color: $white;
            border-radius: 0.2em;
            margin-right: 0.5em;
        }

        .nav_link_active {
            background-color: $white;
            color: $black;
            border-radius: 0.2em;
            margin-right: 0.5em;
        }

        .nav_link:hover {
            background-color: $white;
            color: $black;
            border-radius: 0.2em;
        }
        
    }
}