.app {
  width: 90%;
  padding: 1em;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;

  .app_grid_cntr {
    display: grid;

    .app_left {
      grid-column: 1;
    }

    .app_right {
      grid-column: 2;
    }
    
  }
}
