.app {
  margin: auto;
  text-align: center;
  margin-bottom: 2em;

  .app_grid_cntr {
    display: grid;
    margin: auto;
    width: 90%;

    .app_left {
      grid-column: 1;
    }

    .app_right {
      grid-column: 2;
    }
    
  }
}
